<h1>ServerHTTP</h1>
<h3>by Weverton Campos</h3>
<hr>

<form name="form-create" action="controllerForm" class="form-create" method="post">
    <input type="text" name="id" id="id" placeholder="Id:"><br>
    <input type="text" name="name" id="name" placeholder="Name:"><br>
    <input type="text" name="age" id="age" placeholder="Age:"><br>
    <input type="submit" name="btn-submit" id="btn-submit" placeholder="Create"><br>
</form>